doctype html
html(lang='en', ng-app='banserver')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Ban Manager
    link(href='lib/bootstrap-css/css/bootstrap.css', rel='stylesheet')
    link(href='css/app.css', rel='stylesheet')
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", rel="stylesheet", crossorigin="anonymous")
  body
    h1.phore-color Phore Search Manager
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link(href="/items") Listings
          li.nav-item
            a.nav-link(href="/unlisted") Unlisted Stores
          li.nav-item
            a.nav-link(href="/banned") Banned Stores
    .container(ng-view='')
      block content
        | test
    script(src='lib/jquery/dist/jquery.js')
    script(src='lib/lodash/dist/lodash.js')
    script(src='js/main.js')