body {
  margin-top: 60px;
  padding: 10px;
  background-color: #ECF0F1;
}

.main-table {
  width: 100%;
}

.main-table td {
  text-align: center;
  vertical-align: middle !important;
}

.main-form input[type=text] {
  width: 500px;
}

.container {
  margin-top:1em;
}

.navbar-nav {
  margin:auto;
}

h1 {
  text-align: center
}

.phore-color {
  color:#09c974;
}